<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p03-scagnelli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6CAB40F1E4D6B6800D7F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6CAB4281E4D6B6900D7F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6CAB4331E4D6B6900D7F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
